*
  box-sizing: border-box
  font-family: Raleway, -apple-system, system, sans-serif

html
  margin: 0
  overflow: hidden

body
  margin: 0
  overflow: hidden

#backend-switch
  position: absolute
  left: 0
  bottom: 0
  background-color: white
  padding: 0.7em

  h1
    margin: 0.3em 0
    font-size: x-large

#container
  width: 100vw
  height: 100vh

  background-color: gray

  & > .paddle
    background-color: black

#ball
  background-color: black
