*
  box-sizing: border-box
  font-family: Raleway, -apple-system, system, sans-serif

#container
  position: relative
  background-color: gray

  & > .paddle
    position: absolute
    background-color: black

#board
  position: relative

#ball
  position: absolute
  background-color: black
